---
layout: single
elementName: template
---

<section id="template" class="element element--experimental">
  <header class="element-header">
    <nav class="element-links">
        <span>
          Тип: <strong>block</strong>
        </span>
      <span>
        Самозакрывающийся:
        <strong>
            Нет
        </strong>
      </span>
      <a class="element-links-direct" href="{{site.url}}/element/template/" data-element-name="template" data-tooltip="Ссылка на отдельную страницу с тегом">Ссылка</a>
      <a class="element-share" data-tooltip="Поделиться в соц. сетях" data-element-name="template">Поделиться</a>
      <a target="_blank" href="https://developer.mozilla.org/en/docs/Web/HTML/Element/template" data-tooltip="Посмотреть в Mozilla Developer Network" rel="external">MDN</a>
    </nav>
    <h2 class="element-name">
      <a href="#template">
        <span>#</span>
        template
      </a>
        <span class="tag tag--experimental">Эксперементальный</span>
    </h2>
    <div class="element-description">
      <p>Defines a placeholder for content that can be displayed using JavaScript.</p>

    </div>
  </header>


</section>
