{% include_relative element/article/index.php %}
{% include_relative element/aside/index.php %}
{% include_relative element/figcaption/index.php %}
{% include_relative element/figure/index.php %}
{% include_relative element/footer/index.php %}
{% include_relative element/header/index.php %}
{% include_relative element/main/index.php %}
{% include_relative element/mark/index.php %}
{% include_relative element/nav/index.php %}
{% include_relative element/section/index.php %}
{% include_relative element/time/index.php %}

